.flex-basis-20 {
    flex-basis: 20%;
}

.flex-basis-33 {
    flex-basis: count(100% / 3);
}

.flex-basis-66 {
    flex-basis: count(100% / 3 * 2);
}

.flex-basis-50 {
    flex-basis: 50%;
}

.nav-current-page-color {
    color: blueviolet;
}

.nav-current-page-color:hover {
    color: blueviolet;
}

.nav-link:hover:not(.nav-current-page-color),
.nav-link:focus:not(.nav-current-page-color) {
    color: goldenrod;

}