* {
    background-color: #ccdbdc;

}

.flex-basis-20 {
    flex-basis: 20%;
}

.flex-basis-33 {
    flex-basis: calc(100% / 3);
}

.flex-basis-66 {
    flex-basis: calc(100% / 3 * 2);
}

.flex-basis-50 {
    flex-basis: 50%;
}

.flex-basis-10 {
    flex-basis: 10%;
}

.nav-current-page-color {
    color: #488286;
}

.nav-current-page-color:hover {
    color: #488286;
}

.nav-link:hover:not(.nav-current-page-color),
.nav-link:focus:not(.nav-current-page-color) {
    color: #FB8B24;

}

@media (max-width: 772px) {
    .flex-direction-772-column {
        flex-direction: column;
    }
}

.img-flex {
    flex-basis: 100px;
    max-width: 100px;
    align-self: center;
}

@media (min-width: 772px) {
    .link-menu-772 {
        visibility: hidden;
    }
}

.margin-bottom {
    margin-bottom: auto;
}

.scale:hover {
    transition: all 600ms linear 100ms;
    -webkit-transform: scale(4, 4);
    transform: scale(4, 4);
}

.scale-no-hover:not(hover) {
    transition: all 600ms linear 100ms;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
}

.flex-comment-form {
    width: 75%;
    height: 100%;
}

.textbox-size {
    min-width: 80%;
    min-height: 25%;
}

.font-quicksand {
    font-family: 'Quicksand', sans-serif;
}

.font-abel {
    font-family: 'Abel', sans-serif;

}

.font-mich {
    font-family: 'Michroma', sans-serif;
}

.bg-gainsboro {
    background-color: #CCDBDC;
}

.bg-steelteal {
    background-color: #488286;
}

.bg-darkslategray {
    background-color: #305252;
}

.bg-onyx {
    background-color: #373E40;
}


.bg-darkorange {
    background-color: #FB8B24;
}

@media (min-width: 772px) {
    .margin-right-5px {
        margin-right: 5px;
    }
}

.footer-padding {
    padding-top: 25px;
}